.loader {
    margin-left: 700px;
    margin-top: 180px;
}

.recipes {
    height: 100%;
    margin-left: 120px;
    padding: 5px;
    width: 90%;
  }


.recipefeed{
  margin-top: 20px;
    overflow: scroll;
  }

.foodimg {
    margin-left: 300px;
}

@media (max-width: 475px) {

  .foodimg {
    width: 100%;
  }
  .recipefeed{
    width: 100%;
  }
  .recipes{
    float: right;
  }
  .top {
    display: block;
    margin-left:26px;
  }
}

@media (max-width: 630px) {
  .foodimg {
    width: 100%;
  }
  .recipefeed{
    width: 100%;
  }
  .recipes{
    float: right;
  }
}

@media (max-width: 1104px) {
  .foodimg {
    width: 100%;
  }
  .recipefeed{
    width: 100%;
  }
  .recipes{
    float: right;
  }
}
